import:
  - mdolab/.github:travis/jobs-env.yml
  - mdolab/.github:travis/before-install.yml
  - mdolab/.github:travis/install.yml
  - mdolab/.github:travis/script.yml

env:
  global:
    - DOCKER_REPO=public
    - GCC_CONFIG=config/defaults/config.LINUX_GFORTRAN.mk
    - INTEL_CONFIG=config/defaults/config.LINUX_INTEL.mk

script:
  - |
    if [[ "$TEST_TYPE" == "docker" ]]; then
      # run tests
      docker exec -it app /bin/bash -c ". $BASHRC && cd $DOCKER_WORKING_DIR && testflo . -v"
    fi

after_script:
  - docker rm -f app
